.feature-title{
    color: #606266;
  }
  .feature-content{
        font-size: 0.875rem;
      line-height: 1.25rem;
      code{
            margin: 0;
      border-radius: 4px;
      padding: .15rem .5rem;
      color: #303133;
      background-color: #f5f7fa;
      }
  }